body{
  margin: 0;
  padding: 0;
}
.topnav {
  background-color: rgba(0, 51, 51, 1);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-right{
  float: right;
  margin-right: 50px;
}

.topnav a:hover {
  background-color: #039494;
  color: white;
}

/*.active {
  background-color: #039494;
}*/

.topnav img{
  height: 45px;
  width: 45px ;
  margin-left: 50px;
}